<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="lyricon_module" android:value="true" />
        <meta-data android:name="lyricon_module_author" android:value="NeriPlayer" />
        <meta-data android:name="lyricon_module_description" android:value="NeriPlayer Lyricon Provider" />
        <meta-data
            android:name="lyricon_module_tags"
            android:resource="@array/lyricon_module_tags" />
    </application>
</manifest>
