<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_neri_player_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_neri_player_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeriPlayer">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NeteaseWebLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        />
        <activity
            android:name="moe.ouom.neriplayer.activity.BiliWebLoginActivity"
            android:exported="false"
            android:launchMode="singleTop"
            />
        <service
            android:name="moe.ouom.neriplayer.core.player.AudioPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />
    </application>

</manifest>